</body>
<div class="container"></div>
<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Info</h2>
      <ul>
        <li><a href="#">Fdnd.nl</a></li>
        <li><a href="#">Programma</a></li>
        <li><a href="#">SKC</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Leertaken</a></li>
        <li><a href="#">Styleguide</a></li>
      </ul>
    </div> 

    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="#">Contact & routebeschrijving</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Meld je aan om op de hoogte te zijn voor aankomende events.</p>
      <form>
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Aanmelden">
      </form>
    </div>
  </section>
</footer>
</html>