<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">
     <!-- Title -->
    <title>Pub</title>
</head>
<body>
    <header>
    <p>Frontend design & <br> development</p>
    <span>We love web</span>


    </header>
</body>
</html>