<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/detail.css">
     <!-- Title -->
    <title>Pub</title>
</head>
<body>
    <!-- Header -->
 <header class="header">
    <p>Frontend design & <br> development</p>
    <p class="slogan">We <span>♥</span> web</p>
    <!-- Nav -->
    <nav>
        <ul>
            <li>
                <a class="announcement" href="/agenda">Full agenda</a>
            </li>

            <li>
                <a class="aanmelden" href="">Aanmelden events</a>
            </li> 
        </ul>
    </nav>
</header>
</body>
</html>