<%- include('./partials/head') %>

<section class="hero-section">
    <h1>Leonie Watson <span>♥</span> the web</h1>
</section> 


<main>

<section class="event-info">

<section class="detail-introduction">
    <h2> ICONS vs We<span>♥</span>Web</h2>
    <p>We are incredibly happy that Léonie Watson is coming over to Amsterdam again to give another talk at an ICONS Meetup.</p>
    <p>Five years ago Léonie gave a talk where she reflected on what User Experience means for someone who is blind. Back then we asked her the question what would make a user interface a pleaure to use. Simply said, back then, a user interface would be a pleasure to use if Leonie could use it to fulfill that task. Even if it would cost quite some troube to do it.</p>
    <p>We asked her the same question again, and we wonder if things have improved in the last years. We certainly hope so.</p>
</section>

<section class="additional-info">

    <div class="container">
      <h3>ⓘ  ICONS vs We<span>♥</span>Web</h3>
      <p class="date-time"> <strong>Date & time:</strong> 22-03-2022 @ 16:30</p>
      <p><strong>Location:</strong> Leeuwenburg (LWB) Weesperzijde 190 1097 DZ Amsterdam</p>
      <p><strong>Link:</strong> www.fdnd.nl</p>
      
    </div>
    

    <div class="signup-info">
      <h2>Geintereseerd?</h2>
      <p>meld je dan snel aan!</p>
      <a href="">Aanmelden</a>
    </div>
  </section>
</section>

 <section class="upcoming-events">
        <h2>Other events you may like</h2>


      <ul class="leonie-watson">
        <li>
          <img src="/assets/html.jpeg">
          <p>What does User Experience mean when you listen to content instead of look at it?</p>
          <p>20-4-22 @ 16:30</p>
          <p>Frontend design & development</p>
        </li>
      </ul>

      <ul class="leonie-watson">
        <li>
          <img src="/assets/html.jpeg">
          <p>What does User Experience mean when you listen to content instead of look at it?</p>
          <p>20-4-22 @ 16:30</p>
          <p>Frontend design & development</p>
        </li>
      </ul>

      <ul class="leonie-watson">
        <li>
          <img src="/assets/html.jpeg">
          <p>What does User Experience mean when you listen to content instead of look at it?</p>
          <p>20-4-22 @ 16:30</p>
          <p>Frontend design & development</p>
        </li>
      </ul>

      <ul class="leonie-watson">
        <li>
          <img src="/assets/html.jpeg">
          <p>What does User Experience mean when you listen to content instead of look at it?</p>
          <p>20-4-22 @ 16:30</p>
          <p>Frontend design & development</p>
        </li>
      </ul>

      <ul class="leonie-watson">
        <li>
          <img src="/assets/html.jpeg">
          <p>What does User Experience mean when you listen to content instead of look at it?</p>
          <p>20-4-22 @ 16:30</p>
          <p>Frontend design & development</p>
        </li>
      </ul>

    </section>

</main>