<%- include('./partials/head') %>

<section class="hero-section">
    <h1>We <span>♥</span> web</h1>
</section>

<main>
    <section class="introduction">
        <h2>Introduction</h2>
        <p>FDND we love web sessies zijn talks waar gastspreker worden worden uitgenodigd om te praten over hun vakgebied. Super handig en interessant voor studenten en geintresseerden van buitenaf.</p>

            <p>Afhankelijk van het onderwerp van de sprint nodigen wij gastsprekers uit om een onderwerp te behandelen dat relevant is tot betrekking met de sprint. Deze talks zijn niet voor studenten alleen maar voor iedereen die zich aangesproken voelt!</p>
    </section>

</main>

<%- include('./partials/footer') %>