:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}

.hero-section  {
	display: flex;
    flex-direction: column;
    flex: content;
	padding: 5.5em;
	background: #050542;
	border-width: 4px 4px 4px 3px;
	border-style: solid;
	border-color: var(--green);
	border-radius: 29px;
	max-width: 100%;
	margin: 3em;
	margin-top: 1.5em;
	filter: drop-shadow(-7px 8px 0px #66e5bf);
}
.hero-section h2{
    
}
.hero-section p{
    color: var(--white);
}

.homepage{
    background-color: var(--purple);
	color: var(--blue);
	padding: 0.5rem 1.6rem;
	border-radius: 0.5em;
}

.hero-section h2 {
	color: var(--purple);
	font-size: 3em;
}

.agenda-hero{
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    font-size: 4em;
}

.full-agenda{
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr ;
   padding: 2em;

   
}

.full-event li{
    color: #050542;
    padding: 2em;

    margin: 1em;
    background-color: var(--green);
   
    border-radius: .3em;
}



/* .full-agenda h2::before{
    content: "♥";
    position:absolute;
   padding: 1em;
   margin-left: -4em;
  color: #66e5bf;

	font-size: 1em;
} */