:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--blue);
	font-family: "Open Sans", sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	padding: 1.5em;
	gap: 1.5em;
	color: var(--white);
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: var(--blue);
}

.header{
	margin-left: 2em;
}

.slogan::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 35px;
	background-color: var(--white);
	margin-right: 1em;
	position: relative;
	top: 3px;
}
nav ,ul 
 {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	padding: 0.2em;
	gap: 1em;
	list-style: none;
}

nav a {
	text-decoration: none;
	color: var(--purple);
	margin-right: 2em;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
	list-style: none;
}

.announcement {
	background-color: var(--purple);
	color: var(--blue);
	padding: 0.5rem 1.6rem;
	border-radius: 0.5em;
}

.aanmelden {
	background-color: var(--blue);
	padding: 0.5rem 1.6rem;
	border: 2px solid var(--purple);
	border-radius: 1em;
}

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	padding: 6em;
	background: #050542;
	border-width: 4px 4px 4px 3px;
	border-style: solid;
	border-color: #a675f5;
	border-radius: 29px;
	max-width: 100%;
	margin: 4em;
	margin-top: 1.5em;
	filter: drop-shadow(-7px 8px 0px #a675f5);
}
.hero-section p{
    color: var(--white);
    margin-top: 3em;
}

.hero-section h1 {
	color: var(--purple);
	font-size: 5em;
}
.hero-section span {
	background-color: var(--purple);
	color: var(--blue);
	border-radius: 6rem;
	font-size: 0.6em;
	padding: 1.3rem;
}

.introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	border: 3px solid var(--purple);
	border-radius: 10px;
	padding: 2em;
	max-width: fit-content;
	margin: 0 auto;
}

.introduction h2 {
	color: var(--white);
	margin-bottom: 1em;
}

.introduction h2::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 0.5em;
	position: relative;
	top: 3px;
}
.introduction p {
	color: var(--purple);
	width: 27em;
	text-align: center;
	text-overflow: ellipsis;
	font-size: calc(0.2vw + 0.2vh + 2vmin);
}

/* instructions */

.instructions {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 3, 1fr);
	grid-template-rows: 1fr 1fr;
	align-content: center;
	color: var(--white);
	text-align: center;
	padding: 2em;
	column-gap: 1em;
}

.instructions h2 {
	text-align: center;
	grid-area: 1/2;
	padding: 1em;
	color: var(--white);
}
.instructions h2::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 0.5em;
	position: relative;
	top: 3px;
}
.instructions p {
	grid-area: 2/2;
}

.instructions article {
	grid-area: 3;
	margin-bottom: 4em;
}

.instructions img {
	width: 10em;
	padding: 1em;
}

.instructions article p {
	padding: 1em;
}

.instructions a {
	grid-area: 4/2;
	background-color: var(--purple);
	color: var(--blue);
	padding: 0.5rem 1.6rem;
	border-radius: 0.5em;
	text-decoration: none;
}

/* Aankomende events */

.upcoming-events {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	color: var(--white);
	overflow: scroll;
	gap: 4em;
	overscroll-behavior-x: contain;
	padding: 3em;
}

 ::-webkit-scrollbar{
display: none;
}
.upcoming-events h2::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 0.5em;
	position: relative;
	top: 3px;
}

.upcoming-events h2 {
	position: absolute;
}

.upcoming-events p{
    padding: .5em;
}
.upcoming-events ul {
	grid-area: 2;
    border-radius: 4em;  
    color: var(--blue);
    height: 23em;
}

.upcoming-events ul li {
	background-color: var(--purple);
	border-radius: 0.5em;
}



.next-events img {
	max-width: 20em;
	border-radius: 1em;
    padding: .5em;
}

/* footer */

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  border: 3px outset var(--purple);
  color: var(--purple);
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: var(--purple)
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: var(--purple );
  font-size: 1.375rem;
  font-weight: bolder;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */

  .container {
	flex: 1;
	padding-top: 10em;
  }
  /* Footer main */
  .ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
	display: flex;
	flex-wrap: wrap;
  }
  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color: var(--purple);
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }

  /* media */

  @media (max-width:50rem){
	  nav,ul{
		  display: flex;
		  flex-direction: column;
		 gap: 1.5em;
		  
	  }
  }