:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--blue);
	font-family: "Open Sans", sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	padding: 1.5em;
	gap: 1.5em;
	color: var(--white);
}

.slogan::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 1em;
	position: relative;
	top: 3px;
}
header nav,
ul {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	padding: 0.2em;
	gap: 2em;
	list-style: none;
}

nav a {
	text-decoration: none;
	color: var(--purple);
}

.announcement {
	background-color: var(--purple);
	color: var(--blue);
	padding: 0.5rem 1.6rem;
	border-radius: 0.5em;
}

.aanmelden {
	background-color: var(--blue);
	padding: 0.5rem 1.6rem;
	border: 2px solid var(--purple);
	border-radius: 1em;
}

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5.5em;
	background: #050542;
	border-width: 4px 4px 4px 3px;
	border-style: solid;
	border-color: #a675f5;
	border-radius: 29px;
	max-width: 100%;
	margin: 3em;
	margin-top: 1.5em;
	filter: drop-shadow(-7px 8px 0px #a675f5);
}

.hero-section h1 {
	color: var(--purple);
	font-size: 5em;
}
.hero-section span {
	background-color: var(--purple);
	color: var(--blue);
	border-radius: 6rem;
	font-size: 0.6em;
	padding: 1.3rem;
}

.introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	border: 3px solid var(--purple);
	border-radius: 10px;
	padding: 2em;
	max-width: fit-content;
	margin: 0 auto;
}

.introduction h2 {
	color: var(--white);
	margin-bottom: 1em;
}

.introduction h2::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 0.5em;
	position: relative;
	top: 3px;
}
.introduction p {
	color: var(--purple);
	width: 27em;
	text-align: center;
	text-overflow: ellipsis;
	font-size: calc(0.2vw + 0.2vh + 2vmin);
}

/* instructions */

.instructions {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 3, 1fr);
	grid-template-rows: 1fr 1fr;
	align-content: center;
	color: var(--white);
	text-align: center;
	padding: 6em;
	column-gap: 1em;
}

.instructions h2 {
	text-align: center;
	grid-area: 1/2;
	padding: 1em;
	color: var(--white);
}
.instructions h2::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 0.5em;
	position: relative;
	top: 3px;
}
.instructions p {
	grid-area: 2/2;
}

.instructions article {
	grid-area: 3;
	margin-bottom: 4 em;
}

.instructions img {
	width: 10em;
	padding: 1em;
}

.instructions article p {
	padding: 1em;
}

.instructions a {
	grid-area: 4/2;
	background-color: var(--purple);
	color: var(--blue);
	padding: 0.5rem 1.6rem;
	border-radius: 0.5em;
	text-decoration: none;
}

/* Aankomende events */

.upcoming-events {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 4em;
	color: var(--white);
	overflow: scroll;
	overscroll-behavior-x: contain;
	padding: 3em;
}

.upcoming-events h2::before {
	content: "";
	display: inline-block;
	width: 1.5px;
	height: 25px;
	background-color: var(--white);
	margin-right: 0.5em;
	position: relative;
	top: 3px;
}

.upcoming-events h2 {
	position: absolute;
}

.upcoming-events p{
    padding: .5em;
}
.upcoming-events ul {
	grid-area: 2;
}

.leonie-watson img {
	max-width: 17em;
	border-radius: 0.5em;
}
