:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}

header{
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
    color: var(--white);
    font-family:  'Open Sans', sans-serif;
}

span::before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 25px;
    background-color: var(--white);
    margin-right: .7em;
    position: relative;
    top: 3px;
}
