<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <section class="add-form">
        <h2>Add a we ♥ web session</h2>
        <form action="/pages/crud/add" method="POST">


          <div class="title">
            <label>Title</label>
            <input type="text" placeholder="Last name" name="title">
          </div>

          <div class="speaker">
            <label>Speaker</label>
            <input type="text"  placeholder="speaker" name="speaker">
          </div>

          <div class="date-time">
            <label>Datetime</label>
            <input type="text"  placeholder="Datetime" name="datetime">
          </div>

          <div class="location">
            <label>Location</label>
            <input type="text" placeholder="location" name="location">
          </div>

          <div class="short-description">
            <label>Short description</label>
            <input type="text" placeholder="short-description" name="short_description">
          </div>

          <div class="description">
            <label>Description</label>
            <input type="text"  placeholder="description" name="description">
          </div>

          <div class="link">
            <label>link</label>
            <input type="text"  placeholder="link" name="link">
          </div>



          <div class="submit">
          <button type="submit" class="submit-btn">Submit</button>
          </div>
        </form>
        </section>
    
    
</body>
</html>