<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="/crud.css">
</head>
<body>
    <header>
        <a href="#" class="logo"> PUB - CRUD FORM</a>
        <a href="/pages/crud/add">Add a session</a>
    </header>
    <table class="table">
            <th>SessionId</th>
            <th>Speaker</th>
            <th>Description</th>
            <th>Link</th>
            <th>Edit</th>

            <% sessions.forEach(session => { %>
            <tr>
                <td><%= session.sessionId %></td>
                <td><%= session.speaker%></td>
                <td><%= session.short_description %></td>
                <td><%= session.link %></td>
                <td><a href="/pages/crud/edit"><img src="/assets/edit-icon.svg"></a></td>
            </tr>
            <% }) %>
        
    </table>
</body>
</html>



