<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="/crud.css">
</head>
<body>
    <header>
        <a href="#" class="logo"> PUB - CRUD FORM</a>
        <a href="add.ejs">Add a session</a>
    </header>
    <table class="table">
            <th>id</th>
            <th>name</th>
            <th>link</th>
            <th>description</th>
            <th>Edit</th>

            <% projects.forEach(project => { %>
            <tr>
                <td><%= project.id %></td>
                <td><%= project.name%></td>
                <td><%= project.link %></td>
                <td><%= project.short_description %></td>
                <td><a href="edit.ejs"><img src="/assets/edit-icon.svg"></a></td>
            </tr>
            <% }) %>
        
    </table>
</body>
</html>



